/*mobiis_01.css*/

#wrap{
  width: 100%;height: 100%;
  background-color: #eee;
}
.font_01{ width: 80%; font-size: 30px; font-weight: 700; margin: auto; margin-bottom: 30px; text-align: center;}
.font_02{ width: 95%;margin: auto; line-height: 20px; font-size: 20px; text-align: center;}

/*headerBox======================================================================*/
#header_box{
  position: fixed; top: 0; left: 0; z-index: 1400;
  width: 100vw; height: 90px;}
.header_icon{
  float: left;
  width: 83px; height: 24px;
  margin-top: 30px; margin-left: 10px;}
/*====================================================*/
.head_tab{
  float: right;
  width: 1100px; height: 90px;
  padding-top: 30px; box-sizing: border-box;
}


.head_tab dl {
  position: relative;
  display:inline-block;
  width: auto;height: auto;
  margin: auto;
  margin-left: 10px;
} 

  .head_tab button {
    width: 100%; height: 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;}

  .head_tab dd{ 
    display: none;
    position: absolute; top: 25px;
    width: 250px; height:auto;
    padding: 0 10px; box-sizing: border-box;
    border-top: 10px solid #A410FA;

    background-color: #fff;
  }
  .head_tab dd a{
    display: block;
    line-height: 50px; font-size: 20px;
    text-decoration: underline;
  }
  .head_tab dl.on dd{ display: block;}
  

/*slideBox======================================================================*/
  #slideBox{
    width: 100%; height:700px;
  }

  .slideBox_area{
    
    width: 200%; height: 700px;
  }
  .slideBox_area>div{ 
    float: left;
  }

  .slideBox_area_01{
    position: relative;
    width: 50%; height: 700px;
    background-image: url(../../img/slideBox/main_slider01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .slideBox_area_01 .slideBoxinBox{
    position: absolute; top: 50%; left: 50%;
    width: 500px; height: 200px;
  }
  .slideBox_area_01 .slideBox_logo {
    width: 100%;height: 50%;
    margin-bottom: 20px;
    background-image: url(../../img/slideBox/slider_img01.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  } 
  .slideBox_area_01 .slideBox_text{
    width: 100%; height: 50%; 
    font-size: 20px; font-weight: 400;
    text-align: center;
    line-height:30px;
    color: #fff;
  }



  .slideBox_area_02 {
    position: relative;
    width: 50%; height: 700px;
    background-image: url(../../img/slideBox/main_slider02.jpg) ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .slideBox_area_02 .slideBoxinBox{
    position: absolute; top: 30%; left: 60%;
    width: 500px; height: 200px;
  }
  .slideBox_area_02 .slideBox_logo {
    width: 100%;height: 50%;
    margin-bottom: 20px;
    background-image: url(../../img/slideBox/slider_img01.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
  } 
  .slideBox_area_02 .slideBox_text{
    width: 100%; height: 50%; 
    font-size: 30px; font-weight: 700;
    line-height:30px;
    color: #fff;
  }
  .slideBox_area_02 .slideBox_text_02{
    width: 100%; height: 50%; 
    font-size: 20px; font-weight: 400;
    line-height:30px;
    color: #fff;
  }

/*introductionBox======================================================================*/
#introductionBox{
  width: 100%; height: 730px;
  background-color: #589AFE;
}

.introductionBox_area{
  width: 100%; height: 200px;
  padding: 50px 0;box-sizing: border-box;
  background-color: #eee;
}

.introductionBox_area_02 div {
  float: left;
  width: 25%;height: 530px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.introductionBox_area_02 dl{
  width: 100%; height: 530px;
  padding-top: 100px; box-sizing: border-box;
}

.introductionBox_area_02 dl dt {
  display: block;
  width: 100%; height: 50px;
  margin: 20px;
  font-size: 30px;
  color: #fff;
}
.introductionBox_area_02 .intcon{
  display: block;
  width: 80%; height: 148px;
  margin: 20px;
  font-size: 20px;
  color: #fff;
}
.introductionBox_area_02 .intlink {
  display: block;
  width: 120px; height: 40px;
  margin-left: 20px;
  padding: 5px 0 0 15px;box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 50px;
  color: #fff;
}

/*technologyBox======================================================================*/
#technologyBox{
  width: 100%; height: 970px;
  background-color: #589AFE;
}
.technologyBox_area{
  width: 100%; height: 200px;
  padding: 50px 0;box-sizing: border-box;
  background-color: #eee;
}
.technologyBox_area_02{
  width: 100%; height: 100%;
  background-image: url(../../img/technologyBox/Rectangle\ 8.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.technologyBox_area_02 ul {
  width: 100%; height: 100%;
}
.technologyBox_area_02 ul li {
  float: left;
  width: 33.333333%; height: 30%;
}

.technologyBox_area_02 .techonlnk{
  width: 90%; height: 100%;
  padding: 30px; padding-top: 100px; box-sizing: border-box;
}


.technologyBox_area_02 .techonlnk a {
  display: block;
  width: 170px; height: 170px;
  margin: auto; margin-bottom: 30px;
}


.technologyBox_area_02 .techImg {
  width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}


.technologyBox_area_02 .techcon {
  text-align: center;
  font-size: 20px;
  color: #fff;
}




/*promotionBox======================================================================*/
#promotionBox{
  width: 100%; height: 720px;
  background-color: #A410FA;
}
.promotionBox_area{
  width: 100%; height: 250px;
  padding: 50px 0;box-sizing: border-box;
  background-color: #eee;
}
.promotionBox_area > div > a {
  display: block;
  width: 170px; height: 40px;
  text-align: center;padding: 10px; box-sizing: border-box;
  margin: auto;margin-top: 20px;
  border: 1px solid #000;
}
.promotionBox_area_02 {
  width: 100%; height: 100%;
  background-image: url(../../img/RecruitBox/main_bg02.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.promotionBox_area_02 .font_01{
  padding: 50px 0; box-sizing: border-box;
  color: #fff
}
.promotionBox_area_02 .font_02 {
  color: #fff;
}
.promotionBox_area_02 div > button{
  display: block;
  width: 130px; height: 100px;
  margin: auto;margin-top: 50px;
}
.promotionBox_area_02 button > i {
  font-size: 130px;
}



/*RecruitBox======================================================================*/
#RecruitBox{
  width: 100%; height: 740px;
  background-color: #D2B4AE;
}
.RecruitBox_area{
  width: 100%; height: 300px;
  padding: 30px 0;box-sizing: border-box;
  background-color: #eee;
}


/*footBox======================================================================*/
#footBox{
  width: 100%;height: 100px;
  background-color: #B2A949;
}
#footBox > i {
  position: fixed;bottom: 0;right: 0;
  display: block;
  width: 50px;height: 50px;
}
#footBox > div {
  padding: 50px 0;
  text-align: center;
}
