@charset "utf-8";
/*variable.css*/
:root {
  font-size:16px;
/* Color styles */
--primary_01: rgba(26, 93, 84, 1);
--primary_02: rgba(131, 76, 51, 1);
--light_gray_01: rgba(196, 196, 196, 1);
--light_gray_02: rgba(170, 170, 170, 1);
--light_gray_03: rgba(117, 117, 117, 1);
--deep_gray: rgba(80, 80, 80, 1);
--black_01: rgba(51, 51, 51, 1);
--black_02: rgba(23, 23, 23, 1);
--white: rgba(255, 255, 255, 1);
--gray_op: rgba(85, 85, 85, 0.30000001192092896);
--yellow_01: rgba(255, 189, 85, 1);
--yellow_02: rgba(247, 233, 211, 1);

/* Text-size styles */
--title_02: 40px;
--title_03: 36px;
--title_04: 28px;
--title_05: 22px;
--content_01: 22px;
--content_02: 18px;
--content_03: 16px;
--content_04: 12px;
--content_04-1: 12px;
--button_text: 22px;
--style_code_01: 9px;
--style_code_02: 10px;
--style_code_03: 12px;

/* Effect styles */
--shadow_01:  0px 4px 4px rgba(0, 0, 0, 0.25);

}