
/*footBox*/

#footBox { 
  width: 100%; height: 450px; 
  padding-top: 68px; box-sizing: 
  border-box; background-color: #333;}

.area_foot { height: auto;}

.info_logo { 
  width: 120px; height: 70px; 
  margin-bottom: 45px;
  background-image: url(../../img/footBOx/osam_sub_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;}

.info_company {
   width: 100%; height: auto; min-height: 135px;
   font-size: 14px; color: #fff;
    /* background-color: #0cc; */}
    
.company_conernt{
  float: left;
  width: 600px; height: 200px;
/*   background-color: #1a5d54; */
}


.list_corp { width: 100%; height: 27px; margin-bottom: 25px;}
.list_corp li { float: left; margin-left: 14px;}
.list_corp li:first-child {margin-left: 0px;}
.list_corp li a {padding: 5px;}

address {width: 100%; height: auto; font-style: normal; }
address p { width: 100%; height: auto; padding-left: 8px;}
address dl {width: 100%; height: auto; margin-top: 5px;}
address dl:last-of-type {margin-bottom: 30px;}
address dt {display: inline-block; padding: 5px; text-transform: uppercase;}
address dt::after { content:":"; padding-left: 8px;}
address dd {display: inline-block; padding: 5px;}
address dd::after { content:"|"; padding-left: 8px;}
address p:last-of-type::after{content:""; display:none}


.social_family{
 float: right;  
 width: 200px; height: 160px;
 margin-top: 40px;
/*  background-color: #1a5d54; */
}

.social li {
  float: left;
  width: 40px; height: 40px;
  margin-left: 20px;
}

.social a {
  background-image: url(../../img/footBOx/osam_sub_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;}

.social li:nth-child(1) a {background-image: url(../../img/footBOx/Group\ 32.png);}
.social li:nth-child(2) a {background-image: url(../../img/footBOx/sns.png);}
.social li:nth-child(3) a {background-image: url(../../img/footBOx/Group\ 34.png);}
