@charset "utf-8";
/*main.css*/

/*design--------------------*/
#wrap {
  /*width: auto;*/
  /*min-width: 960px;*/
  width: 1440px;
  height: auto; min-height: 500px;
  margin: auto; padding-top: 100px;

}



/*headBox-----------------------*/
#headBox {
  position: fixed; top: 0; left: 0; /*right: 0;  margin: auto; */
  z-index: 1500;
  width: 100%; /*max-width: 1440px;*/
  height: auto;
  padding: 20px 50px 10px;
  box-sizing: border-box;
  background-color: #fff;}

.area_head:after,
.area_head::after { content: ""; display: block; width: 100%; height: 0; clear: both;}

.area_head {width: 100%; max-width: 1440px; height: auto; margin: auto;}

#logo { float: left; width: 120px; height: 70px;}
#logo> a {
  display: block ; width: 100%; height: 100%;
  background-image: url(../../img/headBox/osam_logo.png);
  background-image: url(../../img/headBox/Group\ 19.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* background-color: ; */
}

#navBox { float: right; width: 540px; height: auto; /*background-color: #777;*/}

.unb {
  float: right;
  width: 270px; height: 26px;
  margin-bottom: 10px;
  /*background-color: #fff;*/
}

.gnb {
  float: right;
  width: auto; min-width: 510px; height: 34px;
  /*background-color: #ffa;*/
}

.unb ul,
.gnb ul {width: 100%;height: auto;}

.unb ul { padding: 2px 5px; box-sizing: border-box;}
.unb li {
  float: left;
  width: 50px;height: 20px; 
  margin-left: 20px;
}
.unb li:nth-child(1) {float: right;}
.unb li:nth-child(2) {margin-left: 0;}

.unb a {
  display: block;
  width: 100%; height: 100%;
  word-spacing: -3px; text-transform: capitalize;
  color: #505050; font-size: 0.75rem;
  text-align: center;
}

.gnb ul {float: right; width: auto; padding: 4px 5px; box-sizing: border-box;}
.gnb li {
  float: left;
  width: auto; height: 25px;
  /* margin-left: 14px; */
  padding:0 7px ; border-right: 1px solid #aaa;
  text-align: center;
}

.gnb li:last-child {border: 0; padding-right: 0;}
.gnb li:first-child {padding-left: 0;}

.gnb li a {
  padding:5px 10px;
  line-height: 25px;
  font-size: 1rem; color: #171717;
  font-weight: 700;
  text-transform: capitalize;
}
/*.gnb li:first-child {margin-left: 0;}
.unb li:first-child {margin-left: 0;}*/
.first_margin li:first-child {margin-left: 0;}


/*slideBox--------------------*/
#slideBox { 
  position: relative;
  width: 100%; height: 600px;
  box-sizing: border-box; background-color: #aaa;}

/*slide_btn-----*/
.slide_btn {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  width: 100%; min-width: 940px; max-width: 1440px; height: 0;
}

.slide_btn button { 
  width: 60px; height: 40px;
  background-image: url(../../img/main_page/ind_btn.png);
  background-repeat: no-repeat;
  }

.slide_btn button:hover { background-color: #0cc;}
.slide_btn button:focus {outline: 2px solid #333;}

.slide_btn .next{float: right; background-position:-2px -2px; }
.slide_btn .prev{float: left; background-position: -72px -2px; }

/**adcon*/
.slide_area {width: 100%; height: 100%; padding-top: 100px;
  background-image: url("../../img/main_page/slrdeBox/slde_01_img.png");
  background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;
}

.slide_conrent { 
  position: relative;
  width:780px; height: 400px; 
  margin: auto; 
  /* background-color: #ddd; */}

.slide_content_part h3 {
  width: 100%; height: 60px;
  margin-bottom: 5px;
  font-size: 2.5rem; font-weight: 700;
  line-height: 60px; color: #171717;
  text-transform: capitalize;
}
.slide_content_part p {
  width: 100%; height: 140px;
  margin-bottom: 5px;
  font-size: 1.125rem; color: #505050;
  line-height: 150%;
}

.slide_content_part {
  position: absolute; top: 0; bottom: 0; left: 0;
  width: 300px; height: 264px;
  margin: auto;
  background-color: #fff;
}

.slide_content_part .link {
  width: 220px;height: 50px;
}

.link a {
  display: block;
  width: 100%; height: 100%;
  padding: 0 18px; box-sizing: border-box;
  line-height: 50px;
  color: #fff;
  font-size: 22px; font-size: 1.375rem; font-weight: 700;
  background-color: #1a5d54;
}
.link i {float: right; margin-top: 15px;}

.link a:hover {text-decoration: underline;}
.link a:focus {outline: 2px solid #ffbd55;}

.slide_img_part {float:right;
  width: 388px; height: 408px;
}
.slide_img_part > div {
  width: 100%; height: 100%;
  background-repeat:  no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.slide_01 {
  background-image: url("../../img/main_page/slrdeBox/slde_01_bg.png");
}
/*newBox*/
#newBox {
  position: relative;
  width: 100%; height: 700px; 
  padding-top: 62px; box-sizing: border-box;
   background-color: #eee;
}

.area_title {
   width: 940px; height: 70px;
    margin: auto; padding-top: 10px; box-sizing: border-box;
    font-size: 2.5rem; 
    /* background-color: #aaa; */}

.area_indicator {
  position: absolute; bottom: 70px; right: 0; left: 0;
  width: 140px; height: 30px;
  margin: auto;/*  background-color: #ccc; */}



.area_indicator ul { width: 100%; height: 100%;}
.area_indicator li { 
  float: left;
  width: 30px; height: 30px;
  margin-left: 25px;
  background-color: #0cc;
}
.area_indicator li:first-child {margin-left: 0;}

.area_indicator {background-image: url("../../img/main_page/ind_btn.png");}
.area_indicator li:nth-child(1) {background-position: ;}
.area_indicator li:nth-child(2) {background-position: ;}
.area_indicator li:nth-child(3.
) {background-position: ;}

.area_content { width: 940px; height: 370px;
  margin: 48px auto 0;
  /* margin: auto; margin-top: 48px; margin-bottom: 50px; 
  background-color: #aaa; */}

.area_content ul {width: 100%; height: 100%;}
.area_content li {
  float: left; width: 300px; height: 370px;
  margin-left: 20px;
 /*  background-color: #0cc; */
}
/* .area_content li a:hover {outline: 2px solid #fa0;}
.area_content li a:focus {outline: 2px solid #fa0;} */
.area_content li:nth-child(1) a {background-image: url(../../img/main_page/new_product_01.png);}
.area_content li:nth-child(2) a {background-image: url(../../img/main_page/new_product_02.png);}
.area_content li:nth-child(3) a {background-image: url(../../img/main_page/new_product_03.png);}

/*subBox*/
#subBox {
  position: relative;
  width: 100%; height: 350px; /* padding-top: 150px; box-sizing: border-box; */ background-color: #ffbd55;}

#subBox > .area { 
  position: absolute; bottom: 0; left: 0; right: 0;
  height: 300px; margin: auto;
  /* background-color: #ddd; */}

.subBox_area {
  float: right;
  width: 400px; height: 200px;
  margin-top: 52px; margin-right: 70px;
  /* background-color: #0cc */;
}
.subBox_area h2 {
  width: 100%; height: 58px;
  font-size: 40px; font-weight: 700;
  line-height: 58px; color: #171717;
  text-transform: capitalize;
}
.subBox_area p {
  width: 100%; height: 79px;
  font-size: 18px; color: #171717;
  line-height: 150%;
}
.subBox_area_link a{ display: inline-block; width: 100%; height: 100%;}

.subBox_area_link a:nth-child(1) {
  margin-right: 30px; margin-top: 11px;
  width: 160px; height: 45px;
  line-height: 45px;
  font-size: 22px; text-align: center;
  color: #fff;
  background-color: #1a5d54;
}
.subBox_area_link a:nth-child(2) {
  width: 110px; height: 45px;
  font-size: 22px; text-align: center;
  line-height: 45px;
  outline: 1px solid #1a5d54;
  color: #1a5d54;
  background-color: #fff;
}

.subBox_area_img {
  float: left;
  width: 460px; height: 300px; 
  background-color: #0cc;
}
.subBox_area_set {
  width: 100%; height: 100%;
  background-image: url(../../img/main_page/sub_banner_image.png);
  background-repeat: no-repeat; background-position: 50% 50%;
  background-size: cover;
}

/*bestBox*/
#bestBox {
  width: 100%; height: 700px; padding-top: 175px; box-sizing: border-box; background-color: #fff;}

#bestBox > .area { height: 380px; background-color: #fff;}

.slide_btn {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  width: 100%; min-width: 940px; max-width: 1440px; height: 0;
}

.best_area {
  float: left;
 width: 230px; height: 380px;
}

.best_area h2 { 
  width: 100%; height: 123px;
  font-size: 40px; font-weight: 700;
  line-height: 150%; color: #171717;
  text-transform: capitalize;
  }
.best_area p {
  width: 100%; height: 82px;
  font-size: 16px; color: #171717;
  line-height: 150%;
}

.best_next_prev button { 
  width: 100px; height: 30px;
  background-image: url(../../img/main_page/best_next_prev.png);
  background-repeat: no-repeat;
  }

.best_next_prev button:hover {background-color: #0cc;}
.best_next_prev button:focus {outline: 2px solid #333;}

.best_next_prev .best_next{ margin-right: 6px; background-position:-2px -2px; }
.best_next_prev .best_prev{ background-position: -102px -2px; }

/*.best_Box_link----------------*/
.best_area .best_Box_link {
  width: 209px; height: 55px;
}

.best_Box_link a {
  display: block;
  width: 100%; height: 100%;
  padding: 0 18px; box-sizing: border-box;
  text-align: center;
  line-height: 55px;
  color: #fff;
  font-size: 22px; font-size: 1.375rem; font-weight: 700;
  background-color: #1a5d54;
}
.best_Box_link i { margin: auto; margin-top: 15px;}

.best_Box_link a:hover {text-decoration: underline;}
.best_Box_link a:focus {outline: 2px solid #ffbd55;}



/*.best_card_list li------------------*/
.best_card_list {
  float: right;
  width: 800px; height: 380px;
  background-color: #fff;
}
.best_card_list ul { width: 100%; height: 100%;}
.best_card_list li { 
  float: left;
  width: 240px; height: 380px;
  margin-left: 40px;
  outline: 1px solid #171717
 /*  background-color: #0cc */;
}

.best_card_list li a {
  display: block;
  width: 240px; height: 380px;
  margin: auto;
  padding:10px; box-sizing: border-box;
}

.img_set {
  width: 100%; height:180px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}



 
/* 
.best_card_list li a::before {
  content: ""; display: block;
  width: 100%; height:200px;
  background-repeat: no-repeat; background-position: 50% 0;
}
*/

.best_card_list li:nth-child(1) .img_set {
  background-image: url(../../img/main_page/best_img_01.png); 
}

.best_card_list li:nth-child(2) .img_set {
  background-image: url(../../img/main_page/best_img_02.png); 
}

.best_card_list li:nth-child(3) .img_set {
  background-image: url(../../img/main_page/best_img_03.png); 
} 

.img_narr {
  width: 100%; height: 180px;
  margin-top: 10px;
}

.img_narr h3 {
  width: 100%; height: 30px;
  font-size: 1.375rem; font-weight: 700;
  line-height: 30px;
  color: #171717;
  text-transform: capitalize;
}
.img_narr p{
  width: 100%; height: 76px;
  font-size: 1rem; color: #171717;
  border-bottom: 1px solid #171717;
}
.img_narr div{
  width: 100%; height: 16px;
  font-size: 1rem; color: #171717;
}


/*galleryBox*/
.area_content_02 { width: 940px; height: 370px;
  margin: 48px auto 0;}

#galleryBox {
  width: 100%; height: 750px; padding-top: 75px; box-sizing: border-box; background-color: #ffbd55;}


#galleryBox > .area_content_02 {
  height: 420px; 
  background-color: #ffbd55}


.area_content_02 > .gallery_list_area {
  float: right;
  width: 320px; height: 270px;
  margin-top: 150px;

}
.gallery_list_lidt a{
  display: block;
  width: 320px;height: 57px;
  margin-top: 5px;
  line-height: 57px;
  margin: auto;
  border-bottom: 1px solid #171717;
}

.gallery_list_lidt span { margin-left: 20px;}

.gallery_area_img {
  width: 540px; height: 420px;
  background-image: url(../../img/main_page/gallery_main_01.png);
  background-color: #0cc;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*spondorBox*/
#spondorBox {
  width: 100%; height: 100px;  padding: 10px; box-sizing:border-box;/*  background-color: #999; */}

.sponsor_area ul { 
  width: 940px; height: 80px; 
  margin: auto; 
  background-color: #fff;
}

.sponsor_area li {
  float: left;
  width: 140px; height: 80px;
  margin: auto;
  margin-left: 20px;
  /* background-color: #0cc; */
  background-image: url(../../img/main_page/sponsor.png);
  background-repeat: no-repeat;

}
.sponsor_area li:nth-child(1){ background-position: 0px;}
.sponsor_area li:nth-child(2){ background-position: calc(-160px * 1);}
.sponsor_area li:nth-child(3){ background-position: calc(-160px * 2);}
.sponsor_area li:nth-child(4){ background-position: calc(-160px * 3);}
.sponsor_area li:nth-child(5){ background-position: calc(-160px * 4);}
.sponsor_area li:nth-child(6){ background-position: calc(-160px * 5);}
.sponsor_area li:nth-child(7){ background-position: calc(-160px * 6);}
.sponsor_area li:nth-child(8){ background-position: calc(-160px * 7);}
.sponsor_area li:nth-child(9){ background-position: calc(-160px * 8);}
.sponsor_area li:nth-child(10){ background-position: calc(-160px * 9);}
.sponsor_area li:nth-child(11){ background-position: calc(-160px * 10);}


.hidden {overflow: hidden;}

/*footBox*/

#footBox { width: 100%; height: 450px; padding-top: 68px; box-sizing: border-box; background-color: #777;}

.info_logo { width: 88px; height: 70px; 
  margin-bottom: 45px; margin-left: 80px;}

#spondorBox > .area_foot{height: auto; background-color: #eee;}


.info_company_01 { width: 550px; height: 200px;/*  background-color: #0cc; */}
.info_company_01 ul {
  width:100%; height:auto; 
  padding: 4px 5px; box-sizing: border-box;
}


.info_company_01 li {
  float: left;
  width: auto; height: 17px;
  margin-left: 14px;
}

.info_company_01 li a {
  display: block;
  width: 100%; height: 100%;
  text-align: center;
  line-height: 17px;
  font-size: 0.75rem; color: #171717;
  font-weight: 700;
  text-transform: capitalize;
}
/*tel------------------------------------*/
.info_company_01 address p { width: auto;height: auto; margin-top: 10px;} 


.tel_fax {
  width: auto; height: auto;
}

.tel_fax dl{
  float: left;
  width: auto; height: auto;
}

.tel_fax dt, 
.tel_fax dd  {
/*   display: inline-block; */
  float: left;
  width: auto; height: auto;
  margin-right:10px;
}

.tel_fax dt:after {
  content:":"; display:inline-block; 
  margin:0 5px;
}

.tel_fax dd:after{
  content:"|"; display:inline-block;  
  margin-left:10px;
  color:#777;
}

.tel_fax dl:last-of-type dd:after {
  display: none;
}

/*사업자 등록 통신판매 대표이사*/

.business_number {
  width: auto; height: auto;
}

.business_number dl{
  float: left;
  width: auto; height: auto;
}

.business_number dt, 
.business_number dd  {
/*   display: inline-block; */
  float: left;
  width: auto; height: auto;
  margin-right:10px;
}

.business_number dt:after {
  content:":"; display:inline-block; 
  margin:0 5px;
}

.business_number dd:after{
  content:"|"; display:inline-block;  
  margin-left:10px;
  color:#777;
}

.business_number dl:last-of-type dd:after {
  display: none;
}

/*대표이사----------------*/
.ceo {
  width: auto; height: auto;
}

.ceo dl{
  float: left;
  width: auto; height: auto;
}

.ceo dt, 
.ceo dd  {
/*   display: inline-block; */
  float: left;
  width: auto; height: auto;
  margin-right:10px;
}

.ceo dt:after {
  content:":"; display:inline-block; 
  margin:0 5px;
}

.ceo dd:after{
  content:"|"; display:inline-block;  
  margin-left:10px;
  color:#777;
}

.ceo dl:last-of-type dd:after {
  display: none;
}

.area_foot >.info_company_02 {
  float: right; margin-top: -160px;
  width: 160px;height: 135px;}

.info_company_02 li {
  float: left;
  width: 40px; height: 40px;
  margin-left: 20px;
}
.info_logo a{
  background-image: url(../../img/footBOx/osam_sub_logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.info_company_02 li:nth-child(1) a {background-image: url(../../img/footBOx/Group\ 32.png);}
.info_company_02 li:nth-child(2) a {background-image: url(../../img/footBOx/sns.png);}
.info_company_02 li:nth-child(3) a {background-image: url(../../img/footBOx/Group\ 34.png);}

.famliy_silte_01 {
  
  width: 160px; height: 30px; 
  margin-top: 48px;
  background-color: #fff;}
.famliy_silte_02{
  width: 160px; height: 50px;
  margin-top: 10px;
  background-color: #fff;}

/*css작성순서----------------------------------------------------------------*/
/*
.slector {
  content: "";
  display: block;
  position: static;
  float: left;
  width: 100%; min-width: 100%; max-width: 100%;
  height: 100%; min-height: 100%; max-height: 100% ;
  margin: 0; padding: 0; border:0; box-sizing:1px solid #000;
  font-size:10px; font-weight:400; color:#fff;
  background-color:#fff
  efffect:;
}*/