@charset "utf-8";
/*a_17_overflow.css*/
body, h1, h2, hr {margin: 0;}


#wrap {
  width: 900px;height: auto;
  margin: auto;
  background-color: #ddd;
}
.part {
  margin: 10px auto;
  width: 90%;
  padding-bottom: 30px;
  height: auto;
  background-color: #ffd;
}

.ex {
  width: 70%;
  height: 200px;
  margin: auto;
  margin-bottom: 100px;
  font-size: 24px;
  border: 1px solid #777;
  background-color: #fff;
}
.hidden {overflow: hidden;}
/*넘치는 글자를 숨기는*/
.scroll {
overflow: hidden;
overflow-y: scroll;}
/*넘치는 글자를 스크롤를 만들어라*/
.auto {
  overflow: auto;}
  /*넘치는 부분이 있을떄만 스크롤바가 생김*/
.normal {
  opacity:;
}