/*c_01_ing_vs_background.css*/


.img_area {
    float: left;
    width:200px; height:200px;
    margin-left: 150px;
    border: 1px solid#777; border-radius: 5px;
  }
  .img_01 {overflow: hidden;}
  .img_01 img {
    width:auto; height: auto;
    min-width: 100%; min-height: auto;
    margin-top: -30px;
  }
  .img_02 {
    background-image: url("../../img/card_img/min_card-1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;/*해당하는 요소를 기준으로 사이즈를 준다*/
  }
  
  .img_02 > span {
    display: block;
    width: 0;height: 0;overflow:hidden;
  }/*글자를 span(의미없는 태그)로 감싸줘서  글씨를 안보이게 한다 글자쓸 안지우는 이유는 alt의 역할떄문에*/
  
  .img_03{
    background: center no-repeat url("../../img/card_img/min_card-2.png");
    background:center no-repeat;
    font-size: 0;
  }
  
  .bg_02 >li {
    width: 500px;height: 200px;
    margin-bottom: 100px;
    border:1px solid #555
  }
  
  .bg_02 > li:first-child {
    background-image: url("../../img/icon/001-shield.png");
    background-repeat: repeat-y;
  }/*background-repeat: repeat(기본) || no-repet(반복하지 않겠다) \\repeat-x&y(x또는 y축만 반복한다) */
  
  .bg_02 > li:nth-child(2) {
    background-image: url("../../img/icon/002-keyboard-of-nine-circle-for-digital-devices.png");
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: center;
  } /*background-position-y&x: center(이미지의 위치)*/
  
  .bg_02 > li:nth-child(3) {
    background-image: url("../../img/icon/002-keyboard-of-nine-circle-for-digital-devices.png");
    background-repeat:no-repeat;
    background-position: 50% 50%;
  }/*background-position:이미지 %위치를 태그의 위치의 %로 둔다(이미지의 위치)*/
  
  .bg_02 > li:nth-child(4) {
    height: 300px;
    background-image: url("../../img/icon/002-keyboard-of-nine-circle-for-digital-devices.png");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }/*background-size: contain: cover(요소의 사이즈에 빈틈없게)||conrain(이미지가 비율그대로 최대크기) || %(이미지의 %크기)|| px도 가능(사용할떄 한쪽은 오토로 하면 비율에 맞게 들어감)*/
  
  .bg_02 > li:nth-child(5) {
    height: 300px;
    background-image: url("../../img/card_img/min_card-4.png");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
  }
  
  .bg_02 > li:nth-child(6) {
    height: 300px;
    background-image: url("../../img/background/andrea-de-santis-Hu1ixxtInvs-unsplash.jpg");
    background-repeat:no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
  }/*background-attachment: scroll(스크롤을 내려도 이미지가 고정 )|| fixed(스크롤을 내리면 이미지가 따라 내려감)*/
  
  .bg_02 > li:nth-child(7) {
    height: 300px;
    background-image: url("../../img/card_img/min_card-7.png"), url("../../img/icon/005-cross-black-circular-button.png");
    background-repeat:repeat-y,repeat;
    background-position: 0 0, 0 50%;
    background-size: auto 50%, auto 30%;
  }
  .bg_02 >li:nth-child(8) {
    background-image: url(../../img/background/willian-justen-de-vasconcellos-C5VbLy0iK8Q-unsplash.jpg);
    background-repeat: no-repeat; 
    background-position: 50% 50%;
    background-size: 150% auto;
    padding: 50px;
    border: 30px dotted #fa0;
    font-size: 40px; font-weight: 100; line-height: 3; text-align: center;
    background-clip: border-box ;
  }/*background-clip: 이미지의 범위
   content_box(내용안의박스),border-box(border안에만 이미지),padding-box(padding안에박스),text-box()*/
   
  .bg_02 > li:nth-child(8) span {
    display: block; width: 100%; height: 100%; 
    background-color: rgba(0,200,255,0.5);
  }