/*d_02_viedo.css*/
.video_01, .video_02{
  width: 100%; height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(../../icon/back/unsplash_VkuRDf0lm5c.png);
}
.ex_wrap{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(../../icon/back/unsplash_VkuRDf0lm5c.png);
}/*비디오 상위 태그에 할경우*/